#Tujuan{
  text-align: center;
}

#Tujuan h2{
  color: #2974ae;
}

#Tujuan .custom-container{
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas: 
    "a c"
    ". c"
    "b c";
}

#Tujuan .custom-container #para1{
  grid-area: a;
}
#Tujuan .custom-container #para2{
  grid-area: b;
}
#Tujuan .custom-container #photo{
  grid-area: c;
  margin: auto;
}

.cut-width{
  width: 95%;
  margin: 0 auto;
}
hr.solid {
  border-top: 1px solid #bbb;
}

.cut-width .custom-container-2{
  display: flex;
  flex-direction: row;
}

.cut-width .custom-container-2 #tag1{
  width: 60%;
}
.cut-width .custom-container-2 #tag2{
  width: 35%;
  margin-left: 5%;
  border-radius: 10%;
  background-color: rgb(182, 182, 182);
}

#posisi-index{
  color: black;
}